body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#education_home{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#education_home .education_details{
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    border-radius: 7px;
    gap: 1rem;
    color: white;
    /* color: black; */
    /* box-shadow: 0px 0px 10px grey; */
}

#education_home .education_details .edu_details{
    height: 95%;
    color: white;
    width: 45%;
    /* border: 1px solid black; */
    /* border-right: 1px solid white; */
}

#education_home .education_details .edu_details .edu_body{
    height: 95%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    text-align: center;
}


#education_home .education_details .edu_details .edu_body .edu1 {
    /* height: 95%;
    width: 100%; */
    /* background-color: white; */
    /* border: 1px solid grey; */ 
    border: 1px solid grey; 
    /* text-align: center; */
    padding:2rem;
}

/* #education_home .education_details .edu_details .edu_body .edu1 p{
    color: white;
    text-align: justify;
}

#education_home .education_details .edu_details .edu_body .edu1 .heading{
    color: white;
    text-align: justify;
} */



#education_home .education_details .experience{
    height: 95%;
    width: 45%;
    border: 1px solid black;
}

/* ---------------- THE EXPERINCE SECTION */


#education_home .experience{
    height: 95%;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: white; */
    border-radius: 7px;
    gap: 1rem;
    /* color: black; */
    /* box-shadow: 0px 0px 10px grey; */
}
/* #education_home .experience h2{
    text-align: center;
} */


#education_home .education_details .experience_details{
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    /* border-right: 1px solid white; */
}


#education_home .education_details .experience_details .exp_body{
    height: 95%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
}

#education_home .education_details .experience_details .exp_body .exp1{
    /* height: 95%;
    width: 100%; */
    color: white;
    border: 1px solid grey;
    text-align: center;
    padding:1rem;
}

#education_home .education_details .experience_details .exp_body .exp1 .titl{
    color: white;
    text-align: justify;
}