body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.skill_home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: cursive;
    justify-content: center;
    background-color: black;
    /* color: white; */
    align-items: center;
    border-bottom: 1px solid grey;
    /* border: 1px solid red; */
}

.skill_home .two_parts{
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.skill_home .two_parts .heading{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-size: 2rem; */
    color: white;
    align-items: center;
    /* border: 1px solid red; */
}
.skill_home .two_parts .heading p{
  color: white;
}

.skill_home .two_parts .skill_part{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid grey; */
    /* border: 1px solid red; */
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    width: 90%;
    height: 100%;
  }
  
  .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 1rem;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    /* color: green;   */
    color: white;
    /* box-shadow: 0.2px 0.1px 0.3px white; */
    box-shadow: 0px 0px 1px white;
    background: rgba(199, 192, 192, 0.137); /* Semi-transparent background for better visibility */
    backdrop-filter: blur(10px); 
  }

  .skill  p{
    color: white;
  }

  .grid .skill .java img{
    height: 10px;
    
  }

  .skill:hover{
    /* background-color: black;
    color: white; */
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(255, 255, 254);
    /* border: none; */
  }

  @media (max-width: 700px) {
    .skill_home .two_parts .skill_part{
      width: 100%;
    }
    
  }