body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.work_home {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 150vh; */
    padding: 1rem;
    width: 100%;
    color: white;
    background-color: black;
    /* border: 1px solid red; */
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.work_home h2 {
    font-size: 2rem;

}

.work_home .head_p {
    text-align: center;

}


/* .work_home{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
} */
.work_home .parent {

    height: 80vh;
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;

}

@media (max-width: 900px) {
    .work_home .parent {

        overflow: hidden;
        overflow-y: scroll;

    }
}

.work_home .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    grid-gap: 2rem;
    margin-top: 50px;
    /* overflow: hidden; */
}

.work_home h1 {
    font-size: 50px;
    color: blue;
}

.work_home .courses {
    text-align: start;
    position: relative;
    border-radius: 12px;
    color: black;
    background-color: white;
    height: 90%;
    padding: 1rem;
    border-bottom: none;
    scroll-snap-align: center;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    /* border: 1px solid red; */
    text-align: center;
    height: 10%;
    width: 80%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* border-bottom-right-radius: 12px; */
    border-bottom-left-radius: 12px;
    background-color: white;
    top: 0; /* Adjust as needed */
    right: 0; /* Adjust as needed */
}


@media (max-width: 600px) {

    .work_home .course-box {
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        grid-gap: 2rem;
        margin-top: 50px;
    }

    .upper {
        font-size: 10px;
    }

}