body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.work_home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
    /* border: 1px solid red; */
}

.work_home h2{
    font-size: 2rem;

}

.work_home .head_p{
    text-align: center;

}


/* .work_home{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
} */
.work_home .parent{
    
    height: 70%;
    width: 90%;
    /* border: 1px solid white ; */
    overflow: hidden;
    overflow-y: scroll;
}

.work_home .course-box{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    margin-top: 50px;
}

.work_home h1{
    font-size: 50px;
    color: blue;
}

.work_home .courses{
    text-align: start;
    /* background-color: grey; */
    color: white;
    height: 80%;
    border-radius: 23px;
    /* border: 1px solid grey; */
    /* padding: 23px; */
    position: relative;
    
}

.project-image,
.project-video {
    width: 100%;
    height: 100%;
    /* object-position: center; */
    object-fit: cover;
}

.work_home .courses img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.courses .details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    gap: .4rem;
    color: white;
    padding: 15px 15px 15px 15px;
}

.work_home .courses .cost{
    background-color: rgb(230, 230, 230);
    color: #000000;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 15px;
    bottom: 100px;

}


.btn{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    
}

.btn button{
  padding: .5rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}

@media (max-width: 600px) {

    .work_home .course-box{
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 5rem;
        margin-top: 50px;
    }
    
}