body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.work_home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}


/* .work_home{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

.work_home .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

.work_home h1{
    font-size: 50px;
    color: blue;
}

.work_home .courses{
    text-align: start;
    background-color: #F9F9FF;
    height: 100%;
    padding: 23px;
    position: relative;
}

.work_home .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

.courses .details{
    padding: 15px 15px 0 15px;
}

.work_home .courses .cost{
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 15px;
    bottom: 100px;

} */
